<h1>Listing polls</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Name</th>
      <th>Poll number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.question.content %></td>
        <td><%= poll.name %></td>
        <td><%= poll.poll_number %></td>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
